$color: var(--tg-theme-text-color);
$buttonColor: var(--tg-theme-button-text-color);
$hintColor: var(--tg-theme-hint-color);
$secondaryColor: var(--tg-theme-subtitle-text-color);

$background: var(--tg-theme-bg-color);
$secondaryBackground: var(--tg-theme-secondary-bg-color);
$sectionBackground: var(--tg-theme-section-bg-color);
$buttonBackground: var(--tg-theme-button-color);

$safe-area-inset-bottom: var(--tg-safe-area-inset-bottom);
$safe-area-inset-top: var(--tg-safe-area-inset-top);