@import "src/app/styles/variables.scss";

.root {
    position: fixed;
    top: 0;
    left: 0;

    background-color: $secondaryBackground;
    color: $color;
    width: 100vw;
    height: 100vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.viewer {
    margin-top: 24px;
}

.chat {
    margin-top: 26px;
    margin-bottom: 40px;
}

.card {
    & + & {
        margin-top: 12px;
    }
}