.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 27px;
    padding-right: 27px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 25px;
}