@import "src/app/styles/variables.scss";

.root {
    background-color: $secondaryBackground;
    color: $color;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

.viewer {
    margin-top: 10px;
}