.root {
    position: relative;
    min-height: 395px;
    margin-top: 10px;
    width: 100%;
}

.loader {
    padding-left: 14px;
}

.swiper {
    padding-left: 14px;
    padding-right: 14px;
}

.slide {
    width: 310px;
}