@import "src/app/styles/index.scss";

.root {
    position: relative;
    width: 100%;
}

.marquee {
    width: 100%;
    padding-top: calc(9px + #{$safe-area-inset-top});
    padding-bottom: 9px;
    
    background: linear-gradient(90deg, #c76fc6 0%, #9e6dbf 100%);
}

.text {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: 700;
    margin-right: 10px;
    font-family: $italicFontFamily;
}

.button {
    position: absolute;
    top: $safe-area-inset-top;
    right: 0;
    z-index: 2;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 62px;
    height: 40px;

    font-size: 15px;
    line-height: 20px;
    font-weight: 700;

    outline: none;
    border: none;

    color: #FFFFFF;
    background: linear-gradient(90deg, #aa6ec2 0%, #4076e8 99.99%, #aa6ec2 100%);
}