@import "src/app/styles/variables.scss";

.root {
    position: fixed;
    top: 0;
    left: 0;

    background-color: $secondaryBackground;
    color: $color;
    width: 100vw;
    height: 100vh;
    padding-bottom: 50vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.viewer {
    margin-top: 31px;
}

.statistics {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -10px;
}

.button {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    opacity: 1;

    transition: 0.3s ease;
    transition-property: opacity;

    &.is-loading {
        opacity: 0;
    }
}