@import "/src/app/styles/index.scss";

.root {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);

    & br {
        content: "";
    }
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.icon {
    margin-right: 4px;
}

.title {
    font-size: 20px;
    line-height: 22px;
    color: $color;
    font-weight: 700;
}

