@import "/src/app/styles/index.scss";

.root {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba($color: #CAC2C2, $alpha: 0.2);

    font-size: 15px;
    line-height: 20px;
    font-weight: 400;

    color: $color;

    & span {
        font-weight: 700;
    }
}